# Secrets
.env
*.env
Environment/

# Data
Data/Bronze/

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Draft / Experimentos
Rascunho/

# Airflow
logs/
*.log


# Sistema
.DS_Store

# Pyenv
.python-version